<!DOCTYPE html>
<html>
  <head>
    <title>FindEndangered</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
   body {
     background: white url("http://hdimagesnew.com/wp-content/uploads/2015/11/Nature-New-Wallpapers-7.jpg") no-repeat;
     background-attachment: fixed;
   }
  }
  </style>
  </head>

  <body style="">
    <%= yield %>
  </body>
</html>
